<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  	<h1>Page Gossip</h1>
    <p><strong>Numéro :</strong> <%= chosen_gossip.id %> </p>
    <p><strong>Auteur :</strong> <%= chosen_gossip.author %> </p>
    <p><strong>Gossip :</strong> <%= chosen_gossip.content %> </p>
    <a href="/">Lien retour vers les gossips</a>
  </body>
</html>